* {
  box-sizing: border-box;
}

:root {
  --theme-color: rgb(7, 94, 94);
  --background-color: rgb(204, 247, 243);
}

html {
  --light-border: 1px solid lightgray;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--background-color);
  color: var(--theme-color);
}
